.category{
    display:inline-block;
    margin-left:10em ;
    background-color: white;
    width: 20em;
    height: 40em;
   
}
.head{
    display: flex;
    height: 23em;
    justify-content: center;
    text-decoration: none;
  
}
.title{
    display: flex;
    height: 0;
    margin-top: 1em;
    color: #212529;
    font-size: 3em;
    font-family: AppleSDGothicNeoEB00;
   text-align: center;
}
.title:hover{
    color: rgba(00,00,00,0.5);
    cursor: pointer;   
}
.memo{
    display: flex;
    height: 4em;
    text-decoration: none;
}

.text{
    display:inline-flex;
    justify-content: center;
    color:#212529;
    margin-left: 1.3em;
    font-size: 2em;
    font-family: AppleSDGothicNeoEB00;
    
    height: 40px;
    
}
.text:hover{
    color: rgba(00,00,00,0.5);
    cursor: pointer;
}