.weatherGrid{
    display: flex;
    align-items: center;
    justify-content: center;
}
.weatherInfo{
    color : white;
    font-family: sans-serif;
}
body{
    background: linear-gradient(to right, #7F7FD5,#86A8E7,#91EAE4);
}
.rain{
    background: linear-gradient(to right, #7F7FD5,#86A8E7,#91EAE4);
}
.snow{
    background: linear-gradient(to right, #6190E8, #A7BFE8);
}
.clear{
    background: linear-gradient(to right,#ff7e5f,#feb47b );
}
.thunderstorm{
    background : linear-gradient(to right, #4e54c8, #8f94fb);
}
.drizzle{
    background : linear-gradient(to right, #56ab2f, #a8e063);
}
.atmosphere{
    background : linear-gradient(to right, #FF5F6D, #FFC371);
}
.cloud{
    background : linear-gradient(to right, #5B86E5, #8f94fb);
}

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}